* {
    transition: all 0.5s;
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
}
#chat-box {
    position: fixed;
    bottom: 25%;
    right: 25%;
    width: 500px;
    height: 400px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#username-form {
    margin-bottom: 10px;
}

#username-form label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

#username-form input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#send-button,
#pick-emoji-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

#send-button:hover,
#pick-emoji-button:hover {
    background-color: darkgray;
    cursor: pointer;
}

#message-form {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#message-form input[type="text"] {
    flex-grow: 1;
    height: 30px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 83%;
    
}

#message-list {
    list-style: none;
    padding: 10px;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid lightgray;
}

#message-list li {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

#message-list li strong {
    font-weight: bold;
}


#chat-room {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}
/*
#message-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

#message-list li {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

#message-form {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    padding: 10px;
}

#message-input {
    flex: 1;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#send-button,
#pick-emoji-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

#send-button:hover,
#pick-emoji-button:hover {
    background-color: darkgray;
    cursor: pointer;
} */